.caroussel-container {
  display: none;
}

@media screen and (min-width: 700px) {
  .caroussel-container {
    display: block;
    margin-top: 15px;
  }
  .caroussel-image {
    max-width: 800px; /* Ajustez la largeur maximale en pixels */
    max-height: 500px; /* Ajustez la hauteur maximale en pixels */
  }
  .caroussel-item-title {
    color: white;
    font-size: 25px;
    margin-right: 30px;
    margin-top: 10px;
  }
  h1 {
    color: white;
    margin-bottom: 30px;
    margin-right: 1600px;
  }
}
