@font-face {
  font-family: "roboto";
  src: url("/frontend/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntu";
  src: url("/frontend/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
}
