* {
  margin: 0;
}
.Footer {
  position: relative;
  background-image: url(../img/cn.jpg);
  max-width: 100%;
  height: 200px; /* ajustez la hauteur en fonction de vos besoins */
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 700px) {
  .Footer {
    background-image: url(../img/footerDesktop.jpg);
    max-width: 100%;
    height: 500px; /* ajustez la hauteur en fonction de vos besoins */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Footer img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30%;
  }
}
