.header {
  align-items: center;
  border-bottom: 2px solid black;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.logo1 {
  width: 100px;
}
.logo2 {
  width: 230px;
  margin-bottom: 20px;
  margin-top: 35px;
  margin-right: 25px;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid rgb(225, 214, 214);
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

@media screen and (min-width: 700px) {
  .header {
    height: 150px;
  }
  .logo1 {
    width: 150px;
  }
  .logo2 {
    width: 350px;
  }
}
