* {
  padding: 0;
  margin: 0;
}
.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 80%;
  height: 25%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid;
  border-color: grey;
  border-radius: 1rem;
  background-color: #e1e7f0;
  animation-name: slideIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  transform-origin: top right;
  opacity: 0;
  box-shadow: -1px 4px 12px 0px #ff0000, 0em -8px 9px 0px black;
  align-items: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%) translateY(-200%) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateX(-25%) translateY(-100%) scale(1.5);
    width: 45%;
  }
}
.modal.active {
  animation-name: slideInDiagonal;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes slideInDiagonal {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-100vw, -100vh);
  }
}

.buttonpop {
  border-radius: 50%;
  width: 3rem;
}

.modal > .content {
  font-size: medium;
  font-weight: 300;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

  text-align: center;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: static;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 30px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
@media only screen and (min-width: 701px) {
  .modal {
    padding: 0;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal > .content {
    margin-bottom: 80px;
  }
  .pa {
    font-size: 30px;
    margin-top: 90px;
  }
}
