@import url("../components/font.css");

.text {
  color: white;
}

.img {
  width: 250px;
}

iframe {
  width: 98%;
  height: 98%;
  min-width: 300px;
  min-height: 300px;
}

.synopsis {
  font-family: "roboto";
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}

.titlemovie {
  font-family: "ubuntu";
  font-size: 30px;
}

@media screen and (min-width: 701px) {
  iframe {
    height: 800px;
  }
  .img {
    width: auto;
  }

  .n {
    display: flex;
  }
  h2 {
    margin-left: 300px;
  }

  p {
    font-size: 30px;
  }
  button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
