@import url("../components/font.css");

.text {
  color: white;
}

.img {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

iframe {
  width: 98%;
  height: 98%;
  min-width: 300px;
  min-height: 300px;
}

.synopsis {
  font-family: "roboto";
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}

.titlemovie {
  font-family: "ubuntu";
  font-size: 30px;
}
button {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  backface-visibility: hidden;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 1.3;
  padding: 0.5rem 0.8rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

h3 {
  margin-bottom: 10px;
}
@media screen and (min-width: 701px) {
  iframe {
    height: 800px;
    width: 1800px;
    margin-bottom: 0;
  }
  .img {
    width: 400px;
    margin-left: 50px;
  }

  .n {
    display: flex;
    margin-top: -90px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  h2 {
    margin-top: 90px;
    margin-left: 350px;
    font-size: 60px;
  }

  p {
    margin-top: 120px;
    margin-left: 20px;
    font-size: 30px;
    color: white;
  }
  button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
