@import url("../components/font.css");

.text {
  color: white;
}

.img {
  width: 250px;
}

iframe {
  width: 360px;
}

.synopsis {
  font-family: "roboto";
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}

.titlemovie {
  font-family: "ubuntu";
  font-size: 30px;
}
